In [1]:
import pandas
import numpy as np

## Day 3

### part 1

In [2]:
quiz3 = pandas.read_csv('quiz3.txt', delimiter='\n', names=['input'])
quiz3.head()

                 input
0  #1 @ 912,277: 27x20
1  #2 @ 129,477: 14x12
2  #3 @ 915,716: 17x23
3  #4 @ 809,807: 24x16
4  #5 @ 769,790: 22x13

In [39]:
def get_corners(string):
    id = string.split('@')[0].replace('#','')
    t = dict()
    string = string.split('@')[1]
    t['left_edge'] = int(string.split(':')[0].split(',')[0])
    t['top_edge'] = int(string.split(':')[0].split(',')[1])
    
    width = int(string.split(':')[1].split('x')[0])
    height = int(string.split(':')[1].split('x')[1])
    
    t['right_edge'] = t['left_edge'] + width
    t['bottom_edge'] = t['top_edge'] + height
    
    return id, t

def get_volume(string):
    id = string.split('@')[0].replace('#','')
    string = string.split('@')[1]
    
    width = int(string.split(':')[1].split('x')[0])
    height = int(string.split(':')[1].split('x')[1])

    return id, width*height

def count_overlap(fabric, symbol=b'X'):
    count = 0
    for i in range(len(fabric)):
        for j in range(len(fabric[i])):
            if fabric[i][j] == symbol:
                count = count+1
    return count

In [59]:
str(get_corners(quiz3['input'][1000])[0])

'1001 '

In [4]:
def draw_claim(fabric, t, id):
    for i in range(t['top_edge'], t['bottom_edge']):
        for j in range(t['left_edge'], t['right_edge']):

            if fabric[i][j] == b'.':
                fabric[i][j] = str(id)
            else:
                fabric[i][j] = 'X'
    return fabric

In [79]:
np.

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [83]:
fabric = np.chararray((2000,2000), itemsize=10)
fabric[:]= '.'


for i in range(len(quiz3)):
    claim = quiz3['input'][i]
    id, t = get_corners(claim)
    
    fabric = draw_claim(fabric, t, id)

#count_overlap(fabric)

In [84]:
set_ = set(fabric[0])
for i in range(len(fabric)):
    set_ = set_.union(set(fabric[i]))

len(set_)

1150

In [17]:
def convert_fabric_to_df(fabric):
    fabric_df = pandas.DataFrame(columns=['id'])
    
    for i in range(len(fabric)):
        for j in range(len(fabric)):
            fabric_df.loc[len(fabric_df)]=[fabric[i][j].decode('utf-8')]
    return fabric_df

In [86]:
def convert_fabric_to_df(fabric):
    fabric_df = pandas.DataFrame(columns=['id', 'count'])
    
    for i in range(len(fabric)):
        for item in set(fabric[i]):
            fabric_df.loc[len(fabric_df)]=[item.decode('utf-8'), sum(fabric[i].count(item))]
            
    return fabric_df

In [87]:
fabric_df = convert_fabric_to_df(fabric)

id
.       3666888
1          1497
10          289
100         690
1000        450
1002         10
1003        102
1004        262
1005        238
1007        145
1008        177
1009         33
101         159
1010        455
1011         67
1012        342
1013        471
1014        190
1015        255
1016        144
1017        195
1018        329
1019        147
102         148
1020        184
1021        362
1022         42
1023        345
1025        120
1026        408
         ...
971         204
972          27
973         505
974         209
975         204
976          13
977         160
978          56
979         113
98          261
980         230
981         192
983         482
985         393
986         195
987         567
988          90
989          95
99           66
990         302
991         245
992          82
993          76
994         315
995         294
996         464
997          48
998         168
999         190
X        110891
Name: count, Length: 1150, dtype: int64

### part 2

In [45]:
volume_df = pandas.DataFrame(columns=['id', 'volume'])

for i in range(len(quiz3)):
    volume_df.loc[i] = get_volume(quiz3['input'][i])
    
volume_df.head()

   id volume
0  1     540
1  2     168
2  3     391
3  4     384
4  5     286

In [99]:
fabric_count = pandas.DataFrame({'count' :fabric_df.groupby('id')['count'].sum()})
fabric_count.reset_index(inplace = True)

fabric_count['id'] = fabric_count['id'].apply(lambda x: x.replace(' ',''))
volume_df['id'] = volume_df['id'].apply(lambda x: x.replace(' ',''))

volume_vs_count = pandas.merge(fabric_count, volume_df, on='id', how='inner')
volume_vs_count['diff'] = volume_vs_count['volume'] - volume_vs_count['count']
volume_vs_count[volume_vs_count['diff'] == 0]

      id  count volume diff
434  297    264    264    0

In [98]:
volume_df['id'][0], fabric_count['id'][0]

('1 ', '.')

## Day 4

In [ ]:
from datetime import datetime
def get_info(line):
    action = line.split(']')[1][1:]
    time = line.split(']')[0][1:]
    d = datetime.strptime(line.split(']')[0][1:], '%Y-%m-%d %H:%M')
    timestamp = d.replace(year = d.year+200)
    
    return timestamp, action

In [177]:
quiz4 = pandas.DataFrame(columns = ['tmstmp', 'action'])

f = open('quiz4.txt', 'r')

for line in f.readlines():
    #print(line)
    quiz4.loc[len(quiz4)] = get_info(line)

quiz4.sort_values(by='tmstmp', inplace= True)
quiz4['action'] = quiz4['action'].apply(lambda x: x.replace('\n',''))
quiz4.reset_index(inplace = True)
del quiz4['index']

In [178]:
quiz4.head()

               tmstmp                    action
0 1718-03-05 23:57:00  Guard #2963 begins shift
1 1718-03-06 00:25:00              falls asleep
2 1718-03-06 00:46:00                  wakes up
3 1718-03-07 00:01:00    Guard #89 begins shift
4 1718-03-07 00:15:00              falls asleep

In [188]:
def get_guard_id(string):
    try:
        return string.split(' ')[1].replace('#','')
    except:
        return None

In [182]:
i = 0

if quiz4['action'][i] not in ['falls asleep', 'wakes up']:
    current_guard_id = get_guard_id(quiz4['action'][i] )
    print(current_guard_id)

2963

In [192]:
t.head()
quiz4.head()

               tmstmp                    action guard_id
0 1718-03-05 23:57:00  Guard #2963 begins shift     2963
1 1718-03-06 00:25:00              falls asleep   asleep
2 1718-03-06 00:46:00                  wakes up       up
3 1718-03-07 00:01:00    Guard #89 begins shift       89
4 1718-03-07 00:15:00              falls asleep   asleep

In [251]:
def opposite(symbol):
    if symbol == '.':
        return '#'
    else:
        return '.'

In [374]:
t = pandas.DataFrame(columns = ['date', 'id']+[str(x) for x in range(60)])

current_guard_id = get_guard_id(quiz4['action'][0])
minutes = []
previous_minute = 0

for i in range(len(quiz4)):
    action = quiz4['action'][i]
    if action not in ['falls asleep', 'wakes up']:
        if i==0:
            continue
        ##write down all the previous guard id info
        else:
            if minutes == []:
                continue
            else:
                t.loc[len(t)] = [None, current_guard_id]+minutes + [opposite(minutes[len(minutes)-1])]*(60-len(minutes))
                previous_minute = 0
                minutes = []
        current_guard_id = get_guard_id(action)
        
    else:
        minute = str(quiz4['tmstmp'][i].minute)
        
        if action == 'wakes up':
            minutes= minutes+['.']*(int(minute) - previous_minute)
            previous_minute = int(minute)
            
        else:
            minutes= minutes+['#']*(int(minute) - previous_minute)
            previous_minute = int(minute)
t.loc[len(t)] = [None, current_guard_id]+minutes + [opposite(minutes[len(minutes)-1])]*(60-len(minutes))

In [375]:
how_asleep = pandas.DataFrame(columns = ['id', 'num_minutes_asleep'])
for i in range(len(t)):
    id = t.loc[i][1]
    minutes_asleep = sum([x == '.' for x in t.loc[i][2:]])
    how_asleep.loc[len(how_asleep)] = [id, minutes_asleep]

In [379]:
how_asleep.groupby('id')['num_minutes_asleep'].sum().sort_values().tail()

id
3209    375
1723    396
2473    497
3259    533
857     605
Name: num_minutes_asleep, dtype: int64

In [380]:
t[t['id']=='857']

     date   id  0  1  2  3  4  5  6  7 ... 50 51 52 53 54 55 56 57 58 59
5    None  857  #  #  #  #  #  #  #  # ...  #  #  #  #  #  #  #  #  #  #
8    None  857  #  #  #  #  #  #  #  # ...  .  .  #  #  #  #  #  #  #  #
12   None  857  #  #  #  #  #  #  #  # ...  #  #  #  #  #  #  #  #  #  #
13   None  857  #  #  #  #  #  #  #  # ...  .  .  .  .  .  .  .  .  .  #
43   None  857  #  #  #  #  #  #  #  # ...  #  #  #  #  #  #  #  #  #  #
61   None  857  #  #  #  #  #  #  #  . ...  #  #  #  .  .  #  #  #  #  #
64   None  857  #  #  #  #  #  #  #  # ...  .  .  .  .  #  #  #  #  #  #
77   None  857  #  #  #  #  #  #  #  # ...  .  .  .  #  #  #  #  #  #  #
86   None  857  #  #  #  #  #  #  #  # ...  #  #  #  #  #  #  #  #  #  #
103  None  857  #  #  #  #  #  #  #  # ...  .  #  #  #  #  #  #  #  #  #
116  None  857  #  #  #  #  #  #  #  . ...  .  .  .  .  .  .  .  .  #  #
122  None  857  #  #  #  #  #  .  .  . ...  .  .  .  .  .  .  .  #  #  #
125  None  857  #  #  #  #  #  #  #  # ...  #  #  #  #  #  #  #  #  #  #
129  None  857  #  #  #  #  #  .  .  . ...  #  #  #  #  #  #  #  #  #  #
140  None  857  #  #  #  #  #  #  #  # ...  .  .  .  .  .  .  .  #  #  #
144  None  857  #  #  #  .  .  .  .  . ...  #  #  #  #  #  #  #  #  #  #
159  None  857  #  #  #  #  #  #  #  # ...  #  #  #  #  #  #  #  #  #  #
174  None  857  #  #  .  .  .  .  .  . ...  #  #  #  #  #  #  #  #  #  #
175  None  857  #  #  #  #  #  #  #  # ...  .  .  .  .  .  .  .  .  #  #
197  None  857  #  #  #  #  #  #  #  # ...  .  #  #  #  #  #  #  #  #  #
219  None  857  #  #  #  #  #  #  #  # ...  .  .  .  .  .  #  #  #  #  #
226  None  857  #  #  #  #  #  #  #  # ...  .  .  .  .  .  .  .  .  #  #
243  None  857  #  #  #  #  #  #  #  # ...  .  .  .  .  .  .  .  .  #  #
246  None  857  #  #  #  #  #  #  #  # ...  .  .  .  .  .  .  .  .  #  #

[24 rows x 62 columns]

In [382]:
list = []
for x in [str(x) for x in range(0, 60)]:
    list.append(sum(t[t['id']=='857'][x].apply(lambda x: x =='.')))
    print(x, sum(t[t['id']=='857'][x].apply(lambda x: x == '.')))
max(list)

0 0
1 0
2 1
3 2
4 2
5 4
6 4
7 6
8 6
9 6
10 6
11 6
12 6
13 6
14 6
15 7
16 8
17 8
18 8
19 8
20 9
21 9
22 9
23 10
24 10
25 10
26 12
27 12
28 12
29 13
30 14
31 14
32 14
33 15
34 16
35 16
36 16
37 16
38 16
39 17
40 16
41 16
42 16
43 16
44 15
45 17
46 18
47 17
48 16
49 17
50 14
51 12
52 11
53 11
54 10
55 8
56 8
57 6
58 1
59 0

18

In [383]:
46*857

39422

### part 2

In [386]:
def is_asleep(x):
    return int(x=='.')

for x in t.columns[2:]:
    t['is_'+x] = t[x].apply(lambda x: is_asleep(x))

In [389]:
t.head()

,date,id,0,1,2,3,4,5,6,7,...,is_50,is_51,is_52,is_53,is_54,is_55,is_56,is_57,is_58,is_59
0,None,2963,#,#,#,#,#,#,#,#,...,0,0,0,0,0,0,0,0,0,0
1,None,89,#,#,#,#,#,#,#,#,...,0,0,0,0,0,0,0,0,0,0
2,None,3137,#,#,#,#,#,#,#,#,...,1,1,1,1,1,1,0,0,0,0
3,None,3511,#,#,#,#,#,#,#,#,...,1,1,1,1,1,1,0,0,0,0
4,None,2251,#,#,#,#,#,#,#,#,...,1,1,1,1,1,1,0,0,0,0

In [395]:
t[t['id']=='89']['is_0']

1      0
6      0
149    0
151    1
162    0
177    0
Name: is_0, dtype: int64

In [400]:
asleep_per_minute = pandas.DataFrame(columns = ['id', 'minute','minutes_aslee'])

for id in t['id'].unique():
    for column in t.columns[62:]:
        minutes_asleep = sum(t[t['id']==id][column])
        asleep_per_minute.loc[len(asleep_per_minute)] = [id, column, minutes_asleep]

In [403]:
asleep_per_minute.groupby(['id','minute'])['minutes_aslee'].sum().sort_values()

id    minute
1009  is_0       0
2963  is_4       0
      is_3       0
      is_2       0
      is_1       0
      is_0       0
2473  is_59      0
      is_58      0
2963  is_5       0
2411  is_59      0
2251  is_6       0
      is_59      0
      is_5       0
      is_4       0
      is_3       0
      is_2       0
      is_1       0
      is_7       0
      is_0       0
2963  is_59      0
3137  is_57      0
3469  is_12      0
      is_11      0
      is_10      0
      is_1       0
      is_0       0
3347  is_59      0
      is_58      0
3137  is_0       0
3347  is_57      0
                ..
3259  is_25     13
1697  is_45     13
3259  is_29     13
1723  is_40     14
857   is_30     14
      is_31     14
      is_32     14
      is_50     14
      is_33     15
      is_44     15
      is_38     16
1723  is_35     16
857   is_34     16
      is_43     16
      is_42     16
      is_41     16
      is_40     16
      is_35     16
      is_48     16
      is_37     16
      is_36     16
1723  is_36     17
857   is_47     17
      is_49     17
      is_45     17
      is_39     17
      is_46     18
1723  is_37     18
      is_39     19
      is_38     20
Name: minutes_aslee, Length: 1320, dtype: int64

In [404]:
1723*38

65474