In [55]:
import pandas

In [46]:
p = open('quiz8_n.txt', 'w')
p.write(text.replace('\n','').replace(' ','\n'))
p.close()

In [49]:
t = pandas.read_csv('quiz8_n.txt', names=['input'])

In [56]:
test = pandas.DataFrame({'input': [2, 3, 0, 3, 10, 11, 12, 1, 1, 0, 1, 99, 2, 1, 1, 2]})
test.head()

   input
0      2
1      3
2      0
3      3
4     10

In [137]:
def get_metadata(l):
    #print(len(l))
    metadata = []
    
    if len(l) == 0:
        return []
    num_children = l[0]
    num_metadata = l[1]
    
    for i in range(num_children):
        
    if num_children == 0:
        return total, l[2+num_metadata:]
    
        
    else:
        metadata = metadata + l[-num_metadata:] ##last num_metadata of the list
        l = l[2:len(l)-num_metadata]
   
    metadata = metadata + get_metadata(l)
    return metadata

In [229]:
#l = [2, 3, 1, 3, 1, 2, 0, 1, 6, 7, 8, 10, 11, 12, 1, 1, 0, 1, 99, 2, 1, 1, 2]

lis = list(t['input'])

metadata = []

while 0 in lis:
    zero_pos = lis.index(0)
    num_metadata = lis[zero_pos+1]

    metadata = metadata + lis[zero_pos + 2 : zero_pos + 2 + num_metadata]
    
    lis[zero_pos-2] = lis[zero_pos-2] - 1
    

    del lis[zero_pos : zero_pos + 2 + num_metadata]

print(sum(metadata))

40984

159

In [178]:


num_children = l[0]
num_meta = l[1]

if num_children == 0:
    metadata = metadata + l[2:2+num_metadata]
    
    

while num_children > 0:
    l, metadata = get_metadata(l[2:], num_children -1 )
    
l = l[2:2+num_metadata]

    
    metadata = l[2:2+num_metadata]
    l = l[2+num_metadata:]
else:
    for i in range(num_children):
        metadata = metadata + get_metadata()

non-zero
[1, 3, 1, 2, 0, 1, 6, 7, 8, 10, 11, 12, 1, 1, 0, 1, 99, 2]
non-zero
[1, 2, 0, 1, 6, 7, 8, 10, 11, 12, 1, 1, 0]
non-zero
[0, 1, 6, 7, 8, 10, 11, 12, 1]
zero
[7, 8, 10, 11, 12, 1]
non-zero
[10, 11]
non-zero
[]
183

In [161]:
len(list(t['input']))

15798

In [165]:
t['input'].max()

11

In [163]:
138*15798/16

136257.75