In [1]:
import pandas

In [23]:
p = open('quiz8_n.txt', 'w')
f = open('quiz8.txt', 'r')
text = f.read()
p.write(text.replace('\n','').replace(' ','\n'))
p.close()

In [24]:
t = pandas.read_csv('quiz8_n.txt', names=['input'])
t

       input
0          8
1         11
2          6
3          3
4          5
5          5
6          3
7          4
8          1
9          5
10         0
11         9
12         8
13         4
14         8
15         1
16         8
17         1
18         4
19         1
20         9
21         3
22         2
23         1
24         3
25         2
26         1
27         7
28         0
29        11
...      ...
15768      1
15769      3
15770      3
15771      1
15772      1
15773      2
15774      2
15775      1
15776      5
15777      2
15778      3
15779      5
15780      2
15781      3
15782      6
15783      6
15784      4
15785      5
15786      5
15787      5
15788      2
15789      5
15790      9
15791      7
15792      8
15793      3
15794      6
15795      6
15796      4
15797      7

[15798 rows x 1 columns]

In [8]:
t = pandas.read_csv('quiz8_n.txt', names=['input'], delimiter= '\n')

In [4]:
test = pandas.DataFrame({'input': [2, 3, 0, 3, 10, 11, 12, 1, 1, 0, 1, 99, 2, 1, 1, 2]})
test.head()

   input
0      2
1      3
2      0
3      3
4     10

In [137]:
def get_metadata(l):
    #print(len(l))
    metadata = []
    
    if len(l) == 0:
        return []
    num_children = l[0]
    num_metadata = l[1]
    
    for i in range(num_children):
        
    if num_children == 0:
        return total, l[2+num_metadata:]
    
        
    else:
        metadata = metadata + l[-num_metadata:] ##last num_metadata of the list
        l = l[2:len(l)-num_metadata]
   
    metadata = metadata + get_metadata(l)
    return metadata

In [229]:
#l = [2, 3, 1, 3, 1, 2, 0, 1, 6, 7, 8, 10, 11, 12, 1, 1, 0, 1, 99, 2, 1, 1, 2]

lis = list(t['input'])

metadata = []

while 0 in lis:
    zero_pos = lis.index(0)
    num_metadata = lis[zero_pos+1]

    metadata = metadata + lis[zero_pos + 2 : zero_pos + 2 + num_metadata]
    
    lis[zero_pos-2] = lis[zero_pos-2] - 1
    

    del lis[zero_pos : zero_pos + 2 + num_metadata]

print(sum(metadata))

40984

## part 2

In [234]:
#l = [2, 3, 1, 3, 1, 2, 0, 1, 6, 7, 8, 10, 11, 12, 1, 1, 0, 1, 99, 2, 1, 1, 2]

lis = list(t['input'])
metadata = []

children = dict()
values = dict()
metadata_dict = dict()
count = 0

while 0 in lis:
    #node_name = str(count)
    #count = count+1
    
    zero_pos = lis.index(0)
    num_metadata = lis[zero_pos+1]

    metadata = metadata + lis[zero_pos + 2 : zero_pos + 2 + num_metadata]
    metadata_dict[str(zero_pos)] = metadata
    
    lis[zero_pos-2] = lis[zero_pos-2] - 1
    
    if str(zero_pos-2) in children.values():
        temp = children[str(zero_pos-2)].append(str(zero_pos))
        children[str(zero_pos-2)] = temp
    else:
        children[str(zero_pos-2)] = [zero_pos]
        

    del lis[zero_pos : zero_pos + 2 + num_metadata]

print(sum(metadata))

40984

## part 2

In [41]:
def parse(data):
    children, metas = data[:2]
    data = data[2:]
    
    scores = []
    totals = []
    
    for i in range(children):
        total, score, data = parse(data)
        totals+=total
        scores.append(score)
        
    if type(data)==int:
         totals += int(data)
#     else:
#         totals +=sum(data[:metas])
    
    if children == 0:
        return (totals, sum(data[:metas]), data[metas:])
    else:
        return(
        totals,
            sum(scores[k-1] for k in data[:metas] if k>0 and k<=len(scores)),
            data[metas:]
        )

In [42]:
total, value, remaining = parse(data)

In [45]:
total, value, remaining

([], 37067, [])